rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    // Función helper para verificar si un usuario tiene rol de admin en Firestore
    function isAdmin() {
      return request.auth != null && 
        exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Colección de Perfiles de Usuario
    match /users/{userId} {
      allow read: if request.auth != null;
      // El usuario puede crear su propio perfil (por defecto no socio), pero solo un Admin puede cambiar su rol a 'admin' o 'socio'
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update, delete: if isAdmin() || (request.auth != null && request.auth.uid == userId && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['role']));
    }

    // Colección de Reservas
    match /bookings/{bookingId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update, delete: if isAdmin() || (request.auth != null && resource.data.userId == request.auth.uid);
    }
    
    // Colección de Salas (Rooms)
    match /rooms/{roomId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    // Colección de Limpieza
    match /cleaning_schedule/{docId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    match /{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}
